{% extends 'baseMain.html' %}
{% load static %}
{% load auth_tags %}
{% load crispy_forms_tags %}
{% block title %}Reset/Create Password{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		{% sidebar_auth_screens_tag request %}
		<div class="col-md-5 py-md-5 py-2 px-5 my-auto">
			<div class="text-center">
				{% if password_update or page_flag == 'reset' %}
				<p class="main-heading fw-bold text-indigo mb-3">Enter Below Details Update your Password.</p>
				{% elif request.user.has_usable_password %}
				<p class="main-heading fw-bold text-indigo mb-3">Enter Below Details Reset your Password.</p>
				{% else %}
				<p class="main-heading fw-bold text-indigo mb-5">You are just a Step away from your Account.</p>
				{% endif %}
				<p class="font-content mb-1">Password should have 8 or more letters with one alphabet, special character, number</p>
			</div>
			<form method="POST" enctype="multipart/form-data" action="{% if page_flag == 'reset' %}{% url 'authNewApp:password_reset_url' 'reset' %}{% endif %}" class="row">
				{% csrf_token %}
				<input type="hidden" name="loginType" value="{{ request.GET.type }}">
				{% if password_update %}
				<div class="form-group">
					<label for="id_current_password">Current Password</label>
				</div>
				<div class="input-group my-2">
					<input type="password" name="current_password" id="id_current_password" placeholder="Enter Current Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="password should contain 8 characters with lower and upper case letters and atleast 1 number and special case character" class="form-control border-end-0" required>
					<span class="input-group-text bg-white border-start-0" targetInput="id_current_password" onclick="togglePasswordVisiblity(this)" id="togglePassword"><img src="{% static 'authApp/imgs/password-visible.png' %}" alt="" width="20"></span>
				</div>
				{% endif %}
				<div class="form-group">
					<label for="id_password">{% if password_update or page_flag == 'reset' %}New{% endif %} Password</label>
				</div>
				<div class="input-group my-2">
					<input type="password" name="password" id="id_password" placeholder="Enter {% if password_update or page_flag == 'reset' %}New{% endif %} Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="password should contain 8 characters with lower and upper case letters and atleast 1 number and special case character" class="form-control border-end-0" required>
					<span class="input-group-text bg-white border-start-0" targetInput="id_password" onclick="togglePasswordVisiblity(this)" id="togglePassword"><img src="{% static 'authApp/imgs/password-visible.png' %}" alt="" width="20"></span>
				</div>
				<div class="form-group">
					<label for="id_confirm_password">Confirm {% if password_update or page_flag == 'reset' %}New{% endif %} Password</label>
				</div>
				<div class="input-group my-2">
					<input type="password" name="confirm_password" id="id_confirm_password" placeholder="Re-enter {% if password_update or page_flag == 'reset' %}New{% endif %} Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="password should contain 8 characters with lower and upper case letters and atleast 1 number and special case character" class="form-control border-end-0" required>
					<span class="input-group-text bg-white border-start-0" targetInput="id_confirm_password" onclick="togglePasswordVisiblity(this)" id="togglePassword"><img src="{% static 'authApp/imgs/password-visible.png' %}" alt="" width="20"></span>
				</div>
				{% if not request.user.has_usable_password and not page_flag == 'reset' %}
				<div class="form-group my-2">
					<label for="id_referralID">Referral ID <small class="text-faded"> (optional) </small></label>
					<input type="text" name="referralID" id="id_referralID" placeholder="Enter Referral ID" class="form-control">
				</div>
				{% endif %}
				{% if page_flag == 'reset' %}
				<input type="hidden" name="token" value="{{request.GET.token}}">
				{% endif %}
				<div class="d-grid gap-2">
					<button class="btn btn-pinky btn-lg p-2 rounded-4" type="submit">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% otp_verify_modal_tag errors %}
{% endblock %}
{% block additionalJS %}
<script type="text/javascript">
	function togglePasswordVisiblity(event){
		elem = event.getAttribute('targetInput')
		targetElem = document.getElementById(elem)
		elemCrrTypeVal = targetElem.getAttribute('type')
		if (elemCrrTypeVal == 'password'){
			targetElem.setAttribute('type', 'text')
		}
		else{
			targetElem.setAttribute('type', 'password')
		}
	}
</script>
{% endblock %}