{% extends 'baseMain.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block additionalMetas %}
<meta name="metaTitle" content="{% if privateBoutiqueContactDMInst.metaTitle %}{{privateBoutiqueContactDMInst.metaTitle|safe}}{% endif %}">
<meta name="metaKeywords" content="{% if privateBoutiqueContactDMInst.metaKeywords %}{{privateBoutiqueContactDMInst.metaKeywords}}{% endif %}">
<meta name="metaTags" content="{% if privateBoutiqueContactDMInst.metaTags %}{{privateBoutiqueContactDMInst.metaTags}}{% endif %}">
<meta name="metaFeaturedImage" content="{% if privateBoutiqueContactDMInst.metaFeaturedImage %}{{privateBoutiqueContactDMInst.metaFeaturedImage}}{% endif %}">
<meta property="og:title" content="{% if privateBoutiqueContactDMInst.metaTitle %}{{privateBoutiqueContactDMInst.metaTitle}}{% endif %}">
<meta property="og:description" content="{% if privateBoutiqueContactDMInst.metaDescription %}{{privateBoutiqueContactDMInst.metaDescription}}{% endif %}">
<meta name="twitter:title" content="{% if privateBoutiqueContactDMInst.metaTitle %}{{privateBoutiqueContactDMInst.metaTitle}}{% endif %}">
<meta name="twitter:metaDescription" content="{% if privateBoutiqueContactDMInst.metaDescription %}{{privateBoutiqueContactDMInst.metaDescription}}{% endif %}">
<meta property="og:url" content="{{request.get_full_path}}">
<meta property="twitter:url" content="{{request.get_full_path}}">
<meta property="og:image" content="{% if privateBoutiqueContactDMInst.metaFeaturedImage %}{{privateBoutiqueContactDMInst.metaFeaturedImage.url}}{% else %}https://planify-reports.s3.amazonaws.com/static/stocks/imgs/planify-logo.png{% endif %}" />
{% endblock %}

<!-- {% block title %}{% if privateBoutiqueContactDMInst.metaTitle %}{{privateBoutiqueContactDMInst.metaTitle|safe}}{% else %}{{privateBoutiqueContactDMInst}}{% endif %} - Seed Funding Contact {% endblock %} -->

{% block content %}

{% for message in messages %}
  {{message}}
{% endfor %}

<style type="text/css">
		@media only screen and (max-width: 600px) {
	 	.h1 {
		 	font-size: 1.3rem;
		 	text-align: center;
		 	margin-top: 2rem;
		 	font-weight: bold;
		 }
		.main-heading {
		 	font-size: 1rem;
		 	font-weight: normal;
		 	text-align: center;
		 	margin-bottom: 1rem;
		 }
		.labelSize {
		 	font-size: 0.875rem;
		 	margin-bottom: 1rem;
		 }
		}

		.big-menu.dropdown-menu{
			border: none;
			background-color: transparent;
		}
		#mobileMenu .accordion-item {
			border: none !important;
		}
		/*............satyam css start............*/
		.customRatio input[type="radio"]:checked+label,
		.customRatio input[type="checkbox"]:checked+label {
			background: #ffffff;
			color: rgba(103, 1, 111, 1.0) !important;
			border: 1px solid rgba(103, 1, 111, 1.0);
			border-radius: 0.25rem;
		} 
		.accordion-button:not(.collapsed)::after {
			background-image: url("arrow-down.png");
			transform: rotate(-180deg);
		}
		.accordion-button::after {
			flex-shrink: 0;
			width: 1.25rem;
			height: 1.25rem;
			margin-left: auto;
			content: "";
			background-image: url("arrow-down.png");
			background-repeat: no-repeat;
			background-size: .90rem;
			transition: transform .2s ease-in-out;
		}
 /*.........................satyam css end .....................*/
/* ..................................satyam section start......................*/
	</style>

<section>
	<div class="container">
		<div class="row">
			<ul class="list-unstyled d-flex justify-content-between">
				<li>
					<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb">
						<ol class="breadcrumb mt-2">
							<li class="breadcrumb-item d-md-block d-none"><a href="{% url 'productPagesApp:privateBoutiqueUrl' %}" class="text-muted">Private Boutique</a></li>
							<li class="breadcrumb-item"><a href="" class="text-indigo fw-bold">Contact Form</a></li>
						</ol>
					</nav>
				</li>
			</ul>
			<div class="col-md-5">
				{% if request.user.is_staff %}<p class="text-end"><a href="javascript:void(0);" purpose="privateBoutiqueContactUsBanner" onclick="addEditData(this)"><span class="badge rounded-pill bg-indigo main-heading-4">Edit/Add Image Data</span></a></p>{% endif %}
				<div class="" >
						<img src="{% if privateBoutiqueContactUsBannerInst.bannerImage %}{{privateBoutiqueContactUsBannerInst.bannerImage.url}}{% endif %}" class="img-fluid rounded-start" alt="{% if privateBoutiqueContactUsBannerInst.bannerImage_alt_tag %}{{privateBoutiqueContactUsBannerInst.bannerImage_alt_tag}}{% endif %}">
				</div>
			</div>
			<div class="col-md-7">
				<div class="ms-md-5">
					<div>
						<p class="h1 text-indigo fw-bold">Private Boutique Contact Form</p>
						<p class="main-heading text-indigo my-3">Please provide the following details</p>
					</div>
					<div class="row">
						<form class="col-12" action="{% url 'productPagesApp:privateBoutiqueContactUsUrl'%}" method="POST" id="id_Seedform" enctype="multipart/form-data">

							{% csrf_token %}
							<input type="hidden" name="redirectTo" value="{{request.get_full_path}}">

							<div class="row mt-2">
								<div class="col-md-6">
									<label class="mb-2 labelSize" for="id_name">Name</label>
									<input type="text" class="form-control mainForm formclass_1 p-2"  id="id_name"  name="name" title="Number Not Allowed" pattern="[a-zA-Z][a-zA-Z ]+" placeholder="Enter Your Name" value="" onfocusout="this.value = this.value.trim();this.oninput();" validationdiv="id_nameValidation" oninput="checkInputValidity(this);">
								</div>
								<div class="col-md-6">
									<label class=" mb-2 labelSize mt-3 mt-md-0" for="id_email">Email</label>
									<input type="email" class="form-control mainForm formclass_1 p-2"  id="id_email"  name="email" title="Number Not Allowed" placeholder="Enter Your Email" value="" onfocusout="this.value = this.value.trim();this.oninput();" oninput="checkInputValidity(this);">
									
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-6">
									<label class=" mb-2 labelSize" >Mobile Number</label>
									<div class="input-group ">
										<select class="labelbg fw-bold text-muted" name="countryCode" id="id_countryCode" style="border: 1px solid #ced4da;border-right:0;" onchange="stateCityList(this);">
										<option selected disabled>Country Code</option>
										{% for item in countryList %}
										<option value="{{item.pk}}" changeFor="state" pk="{{item.pk}}">{{ item.name }} {{item.countryCode}}</option>
										{% endfor %}
									</select>
									<input type="text" class="form-control second-heading border-start-0 ps-0 labelbg" id="id_mobile" placeholder="" name="mobile" value="">
								</div>
								</div>
								<div class="col-md-6">
									<label class=" mb-2 labelSize mt-md-0 mt-3" for="id_selectState">State</label>
									<select name="state" id="id_selectState" class="form-select formclass_1 Small" onchange="stateCityList(this);">
										<option disabled selected>---Select---</option>
									</select>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-md-6">
									<label class=" mb-2 labelSize" for="id_selectCity">City</label>
									<select name="city" id="id_selectCity" class="form-select formclass_1 Small">
										<option disabled selected>---Select---</option>
									</select>
								</div>
							</div>
							<div class="row gx-0 my-4">
								<button class="btn btn-indigo second-heading text-white fw-bold p-md-3 p-2" type="submit">Submit</button>	
							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<section class="container">
		<div class="">
				{% if request.user.is_staff %}<p class="text-end"><a href="javascript:void(0);" purpose="privateBoutiqueContactUsKnowMore" onclick="addEditData(this)"><span class="badge rounded-pill bg-indigo main-heading-4">Edit/Add Know More Content</span></a></p>{% endif %}

				{% if request.user.is_staff %}<p class="text-end"><a href="javascript:void(0);" purpose="privateBoutiqueContactUsKnowMoreFAQs" newOrUpdate="New"  onclick="addEditData(this)"><span class="badge rounded-pill bg-indigo main-heading-4">Add FAQs</span></a></p>{% endif %}
			<div class="accordion  mt-5 " id="id_channelSignup" >
				<div class="accordion-item shadow " >
					<h2 class="accordion-header " id="flush-headingOne">
						<button class="accordion-button collapsed py-3  "  type="button" data-bs-toggle="collapse" data-bs-target="#id-channelSigOne" aria-expanded="false" aria-controls="flush-collapseOne">
							<p class="text-indigo  second-heading shadow px-3 " style=" border: 0.125rem solid ;padding:  0.438rem; border-radius: 0.438rem;"> Know More About PreIpo</p>
						</button>
					</h2>
					<div id="id-channelSigOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#id_channelSignup" style="border-top:  1px solid  rgb(219 139 225);">

						<div class="accordion-body mt-3 fs-4"><div>{% if privateBoutiqueContactUsKnowMoreInst.excerptContent %}{{privateBoutiqueContactUsKnowMoreInst.excerptContent|safe}}{% endif %}</div>

						{% for fq in privateBoutiqueContactUsKnowMoreFAQsInst %}
							<p class="text-indigo my-3">{% if fq.heading %}{{fq.heading}}{% endif %}</p>
							<div class="my-3">{% if fq.content %}{{fq.content|safe}}{% endif %}</div>
							<!-- Edit Instance Button -->
							{% if request.user.is_staff %}&nbsp;<p class="text-end"><a href="javascript:void(0);" newOrUpdate="update" purpose="privateBoutiqueContactUsKnowMoreFAQs" heading = "{% if fq.heading %}{{fq.heading}}{% endif %}" content = "{% if fq.content %}{{fq.content}}{% endif %}" dataID="{{fq.id}}" onclick="addEditData(this)"><i class="fas smallest fa-edit text-info"></i></a>
               <!-- Delete Instance Button -->
        			<a href="javascript:void(0);" dataID="{{fq.id}}" model="privateBoutiqueContactUsKnowMoreFAQs" purpose="deleteFK" onclick="addEditData(this);"><i class="fas smallest fa-trash text-danger ms-1"></i><span class="badge rounded-pill bg-indigo lead-4"></span></a></p>{% endif %}
						{% endfor %}	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% if request.user.is_staff %} 
  <div class="container">
    <form class="row" action="{% url 'productPagesApp:privateBoutiqueContactDMUrl' %}" method="POST" enctype="multipart/form-data" id="id_adminForm">
      {% csrf_token %}
      <div class="form-group col-md-6 mb-2">
        <label>Meta Title</label>
        <input type="text" name="metaTitle" class="form-control form-control-lg shadow-sm" value="{% if privateBoutiqueContactDMInst.metaTitle %}{{privateBoutiqueContactDMInst.metaTitle}}{% endif %}">
      </div>
      <div class="form-group col-md-6 mb-2">
        <label>Featured Image</label>
            
        <p><a href="{% if privateBoutiqueContactDMInst.metaFeaturedImage %}{{privateBoutiqueContactDMInst.metaFeaturedImage.url}}{% endif %}" target="_blank"> Current Image </a><input type="checkbox" name="metaFeaturedImage" id="id_metaFeaturedImage-clear" value="{% if privateBoutiqueContactDMInst.metaFeaturedImage %}{{privateBoutiqueContactDMInst.metaFeaturedImage}}{% endif %}"><label for="id_metaFeaturedImage-clear"> Clear </label></p>
            
        <input type="file" name="metaFeaturedImage" value="{% if privateBoutiqueContactDMInst.metaFeaturedImage %}{{privateBoutiqueContactDMInst.metaFeaturedImage}}{% endif %}" class="form-control form-control-lg shadow-sm">       
      </div>
      <div class="form-group col-md-6 mb-2">
        <label>Meta Description</label>
        <textarea class="form-control form-control-lg shadow-sm" name="metaDescription">{% if privateBoutiqueContactDMInst.metaDescription %}{{privateBoutiqueContactDMInst.metaDescription}}{% endif %}</textarea>
      </div>
      <div class="form-group col-md-6 mb-2">
        <label>Meta Keywords</label>
        <textarea class="form-control form-control-lg shadow-sm" name="metaKeywords">{% if privateBoutiqueContactDMInst.metaKeywords %}{{privateBoutiqueContactDMInst.metaKeywords}}{% endif %}</textarea>
      </div>
      <div class="form-group col-md-6 mb-2">
        <label>Tags</label>
        <input type="text" name="metaTags" class="form-control form-control-lg shadow-sm" value="{% if privateBoutiqueContactDMInst.metaTags %}{{privateBoutiqueContactDMInst.metaTags}}{% endif %}">
      </div>
      <div class="col-md-12 text-center mt-3">
        <button class="badge badge-indigo text-white rounded-pill py-1 px-3 me-4" type="submit">Save</button>
        <button class="badge btn-outline-indigo rounded-pill py-1 px-3" type="button" onclick="document.getElementById('id_adminForm').reset();">Clear</button>
      </div>
    </form>
  </div>
{% endif %}



	{% if request.user.is_staff %}
      <!-- Modal -->
      <div class="modal fade" id="privateBoutiqueContactUsModal" tabindex="-1" aria-labelledby="privateBoutiqueContactUsModal"aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <form id="id_submitForm" action="" method="POST" enctype="multipart/form-data">
              <div class="modal-header">
                <p class="modal-title h5" id="privateBoutiqueContactUsModal">Add/Edit Data</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <input type="hidden" name="stockProfile" value="{{stock.id}}">
                <input type="hidden" name="requestFrom" value="{{ request.get_full_path }}">
                <div id="modalBody"></div>   
              </div>
              <div class="modal-footer">                  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
  

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" integrity="sha512-wXEyXmtKft9mEiu8LTc3+3BQ95aYbvxgvzH4IzFHOwvGlA14B6zREXD4CRmUPx8r2Z1RVUOXS47bwjsotSlZkQ==" crossorigin="anonymous" />

{% endblock %}

{% block additionalJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js" integrity="sha512-98e5nQTE7pmtZ3xoD5GCVKafmziXDT5WINC91MugFzF57zzBnmvGQl1N70cvdyBSWxjCOC55gq9Zn76MUgtEMQ==" crossorigin="anonymous"></script>

<script type="text/javascript">
	function stateCityList(event){
		selectedPK = event.options[event.selectedIndex].getAttribute('pk')
		getFor = event.options[event.selectedIndex].getAttribute('changeFor')
		$.ajax({
			type: "GET",
			url: '/ajax-country-city-state/',
			data: {
				id: selectedPK,
				requestFrom: getFor, 
			}, 
			success: function(data){
				if(data.requestFor == 'state'){
					optionSelectTag = document.getElementById('id_selectState')
				}
				else{
					optionSelectTag = document.getElementById('id_selectCity')
				}
				for(i=0; i<data.renderThis.length; i++){
					if(i==0){
						optionSelectTag.innerHTML = '<option selected disabled>---Select---</option>'
					}
					option = document.createElement("option");
					option.text = data.renderThis[i].name;
					option.value = data.renderThis[i].id;
					if(data.requestFor == 'state'){
						option.setAttribute('changeFor', 'city')
					}
					option.setAttribute('pk', data.renderThis[i].id)
					optionSelectTag.add(option)
				}
			}
		});
	}
</script>


<script type="text/javascript">

	function addEditData(event){

    	var forData = event.getAttribute('purpose')
    	var dataID = event.getAttribute('dataID')

    	var privateBoutiqueContactUsBannerJSForm = `{{privateBoutiqueContactUsBannerInstForm|crispy}}{% if privateBoutiqueContactUsBannerInst %}<input type="hidden" name="submitType" value='update'><input type="hidden" name="dataID" value="{{privateBoutiqueContactUsBannerInst.id}}">{% else %}<input type="hidden" name="submitType" value='new'>{% endif %}`

    	var privateBoutiqueContactUsKnowMoreJSForm = `{{privateBoutiqueContactUsKnowMoreInstForm|crispy}}{% if privateBoutiqueContactUsKnowMoreInst %}<input type="hidden" name="submitType" value='update'><input type="hidden" name="dataID" value="{{privateBoutiqueContactUsKnowMoreInst.id}}">{% else %}<input type="hidden" name="submitType" value='new'>{% endif %}`

    	var privateBoutiqueContactUsKnowMoreFAQsJSForm = `{{privateBoutiqueContactUsKnowMoreFAQsInstForm|crispy}}`


    	if (forData == 'privateBoutiqueContactUsBanner'){

        	document.getElementById('id_submitForm').setAttribute('action', "{% url 'productPagesApp:privateBoutiqueContactUsBannerUrl' %}")
         	document.getElementById('modalBody').innerHTML = `${privateBoutiqueContactUsBannerJSForm}`
    	}

    		/*Fund Raising*/
    	else if (forData == 'privateBoutiqueContactUsKnowMore'){

    		document.getElementById('id_submitForm').setAttribute('action', "{% url 'productPagesApp:privateBoutiqueContactUsKnowMoreUrl' %}")
    		document.getElementById('modalBody').innerHTML = `${privateBoutiqueContactUsKnowMoreJSForm}`
    	}

    	else if (forData == 'privateBoutiqueContactUsKnowMoreFAQs'){
    		var actionType = event.getAttribute('newOrUpdate')
      		document.getElementById('id_submitForm').setAttribute('action', "{% url 'productPagesApp:privateBoutiqueContactUsKnowMoreFAQsUrl' %}")
      		document.getElementById('modalBody').innerHTML = `${privateBoutiqueContactUsKnowMoreFAQsJSForm}`
      		if(actionType == 'New'){
        		document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='new'>`
      		}
      		else{
       			document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='update'>`
        		document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="dataID" value='${dataID}'>`
        		document.getElementById('id_heading').value = event.getAttribute('heading');
        		document.getElementById('id_content').value = event.getAttribute('content');
      		}
    	}

    	else if(forData == 'deleteFK'){
      		var actionModel = event.getAttribute('model')
      		var formDiv = document.getElementById('id_FKDelete')
      		var html = `{% csrf_token %}<input type="hidden" id="id_deleteDataID" name="deleteDataID" value=""><input type="hidden" id="id_deleteFlag" name="deleteFlag" value=""><input type="hidden" id="id_redirectTo" name="redirectTo" value="{{ request.get_full_path }}"><p class="text-center">Are you sure to delete the clicked data.</p><div class="form-group d-grid mt-2"> <button class="btn btn-danger">Sure! Delete</button> </div>`
      		formDiv.innerHTML = html;
      		formDiv.setAttribute('action', '{% url "productPagesApp:deleteFKdataUrl" %}')
      		document.getElementById('id_deleteDataID').value = dataID
      		document.getElementById('id_deleteFlag').value = actionModel

      		$('#id_FKDeleteModal').modal('show');
      		return false;
    	}

    	else{
      		document.getElementById('modalBody').innerHTML = 'Error'
    	}
    	$('#privateBoutiqueContactUsModal').modal('show');
    	$('.textarea').summernote();
	}
</script>
{% endblock %}