<ul class="sticky-top list-unstyled main-heading p-3 sideMenuSignup custRounded" style="background: #AC6AB1;">
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'companyDetail' or slug == 'New' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:companyDetailUrl' slug %}{% endif %}">Company Details <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'personalDetail' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:personalDetailUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Personal Details <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'permanentAddress' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:permanentAddressUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Permanent Address <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'localAddress' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:localAddressUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Local Address <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'departmentDetail' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:departmentDetailUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Department Details <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'bankDetail' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:bankDetailUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Bank Details <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
	<li class="py-2 my-1 ps-2 {% if pageFlag == 'documentUpload' %}activeTag{% endif %}"><a href="{% if slug == 'New' %}javascript:void(0);{% else %}{% url 'employeeApp:documentUploadUrl' slug %}{% endif %}" class="{% if slug == 'New' %}disabled{% endif %}">Upload Documents <i class="fas fa-angle-right float-end me-3 my-auto"></i></a></li>
</ul>
<div class="loaderParent" id="id_parentLoader"></div>

<style type="text/css">
.sideMenuSignup a {
	color: #fff;
}
.sideMenuSignup .activeTag {
	background-color: #fff;
	border-radius: 8px;
}
.sideMenuSignup .activeTag a {
	color: rgba(103,1,111,1.0);
}
/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

	background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	z-index: 9999;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
</style>