<h5  style=" color:#67016f;" class="mb-4"><b>{% if popupInst.heading %}{{popupInst.heading}}{% endif %}</b></h5>
<div class="text-justify" style="font-family:Source Sans Pro, Regular;">{% if popupInst.letsBeginContent %}{{popupInst.letsBeginContent|safe}}{% endif %}</div>
<img src="{% if popupInst.letsBeginImage %}{{ popupInst.letsBeginImage.url }}{% endif %}" alt="planify" style="width: 80px; height: 80px;" class="mt-3">
<p class="my-2 mt-3 " style="color: #67016f;"><b>Rajesh Singla, </b><span style="color: gray; font-family:Source Sans Pro, Italic;">Founder</span></p>