{% load static %}
{% load stockTags %}
<div class="p-2 sticky-top end-0 d-none d-lg-block" id="sideMenuRight" style="min-width: inherit;max-width: inherit; top: 5rem !important;">
	<div class="card p-3 shadow bg-card-faded side-menu-upper1 menuRounded customScroller" style="max-height: 38vh;">
		<ul class="list-unstyled row">
			<li class="col text-indigo lead fw-bold"><h3 class="font-content fw-bold">{{stock.seoTitle}} Share Price</h3></li>
			<li class="col-1 ps-0"><i class="far fa-bookmark"></i></li>
			<div class="w-100"></div>
			<li class="col-md-6">
				{% if stock %}<p class="my-2"><span class="fw-bold">{% localOrScreenerPrice stock %}</span> <!-- <span class="text-success"> &#8593; 46.5(+3)</span> --> </p>{% endif %}
				{% comment %}
				<p class="my-2"><span class="fw-bold">{% if stock.stockNameBPISL %} {{ stock.stockNameBPISL.investorPrice|ownIntComma }}{% endif %}</span> <!-- <span class="text-success"> &#8593; 46.5(+3)</span> --> </p>
				{% endcomment %}
			</li>
			<li class="col-md-6 text-end">
				<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#leadGenFormModal"><span class="badge rounded-pill badge-indigo px-3 lead-3 mt-2">PLACE ORDER</span></a>
			</li>
		</ul>
		<img src="{% static 'stocks/imgs/icons/line-4@1x.svg' %}" class="w-100 mt-3 mb-1">
		<ul class="list-unstyled row mt-2">
			<li class="col-6"><span class="lead-1 my-auto">ROFR Required</span></li>
			<li class="col-6">
				{% if stock.ROFRRequired %}
				<div class="form-check form-switch float-end">
					<input class="form-check-input" type="checkbox" id="ROFR" checked disabled>
					<label for="ROFR">Yes</label>
				</div>
				{% else %}
				<div class="form-check form-switch float-end">
					<input class="form-check-input" type="checkbox" id="ROFR" disabled>
					<label for="ROFR">No</label>
				</div>
				{% endif %}
			</li>
		</ul>
		<p class="w-100 my-1"></p>
		<p class="lead-1">Available in Depository</p>
		<ul class="list-inline row">
			{% for item in despositoryOptions %}
			<li class="list-inline-item col">
				<p class="{% if item in stock.stockTransferDepository.all %}checkBox-Checked{% else %}checkBox-Unchecked{% endif %} lead-2">{{item.name}}</p>
			</li>
			{% endfor %}
		</ul>
		<p class="lead-1 mt-2">Available for Investment</p>
		<ul class="list-inline row">
			{% for item in saleType %}
			<li class="list-inline-item col">
				<p class="{% if item in stock.saleType.all %}checkBox-Checked{% else %}checkBox-Unchecked{% endif %} lead-2">{{item.name}}</p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- CHECKLIST CONTENT -->
	{% checkListTag request stock %}
	<!-- // CHECKLIST CONTENT // -->
</div>