{% extends 'baseMain.html' %}
{% load stockTags %}
{% load static %}
{% load dmTempTags %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load thumbnail %}
{% block title %}
{% if stock.stockProfileNameSA.metaTitleNews %}{{stock.stockProfileNameSA.metaTitleNews|safe}}{% else %} {{stock.stockName}}{% endif %} {% endblock %}

{% block additionalMetas %}
{% tagsRenderTag request 'researchReports' stock.pk 'news' %}
{% endblock %}

{% block AdditionalHeaderIncludes %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"name": "Planify | Stocks | Research - Report",
		"description": "Our group of researchers scan fundamental economy and financial statistics, track unlisted fairness & pre-ipo deals to spot the most promising investment to the investors. Do check our Pre-ipo stocks study reports. - Planify.",
		"url" : "Planify | Stocks | Research - Report",
		"publisher": {
			"@type": "Organization",
			"name": "Research Report",
			"url" : "https://www.planify.in/research-report/",
			"logo" : {
				"@type": "ImageObject",
				"contentUrl": "https://planify-reports.s3.amazonaws.com/static/stocks/imgs/planify-logo.png"
			}
		}
	}
</script>
{% endblock %}
{% block content %}
<div class="container-fluid" style="background: #7070701A;">
	<div class="row">
		<div class="col-xl-9 p-3 order-2 order-xl-1">
			<div class="card border-0 shadow-sm rounded p-3">
				<!-- upper section -->
				{% new_top_menu_rr_tag request stock %}
				<!-- // upper section // -->
				<div class="row">
					<!-- content -->
					<div class="w-100 my-3 my-md-4"></div>
					{% stockFAQs stock request %}
					{% dmFormRenderTag request 'researchReports' stock.pk 'key-ratio' %}
					{% listAllTagsView %}
					<!-- RR data ends -->
				</div>
			</div>
		</div>
		{% new_side_menu_rr_tag request stock %}
	</div>
</div>
{% if request.user.is_staff %}
<!-- Modal -->
<div class="modal fade" id="snapshotModal" tabindex="-1" aria-labelledby="snapshotModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-title h5" id="snapshotModalLabel">Add/Edit Data</p>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="id_submitForm" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="stockProfile" value="{{stock.id}}">
					<input type="hidden" name="requestFrom" value="{{ request.get_full_path }}">
					<div id="modalBody"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="id_submitUniBtn" onclick="submitForm(this);">Save changes</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block additionalJS %}
{% if request.user.is_staff %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" integrity="sha512-wXEyXmtKft9mEiu8LTc3+3BQ95aYbvxgvzH4IzFHOwvGlA14B6zREXD4CRmUPx8r2Z1RVUOXS47bwjsotSlZkQ==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js" integrity="sha512-98e5nQTE7pmtZ3xoD5GCVKafmziXDT5WINC91MugFzF57zzBnmvGQl1N70cvdyBSWxjCOC55gq9Zn76MUgtEMQ==" crossorigin="anonymous"></script>
{% endif %}
{% if request.user.is_staff %}
<script type="text/javascript">
	function submitForm(event){
		var form = document.getElementById('id_submitForm')
		form.getAttribute('action').value = ''
		form.submit();
	}
</script>
<script type="text/javascript">
	function addEditData(event){
		var forData = event.getAttribute('purpose')
		var researchReportFAQsJSForm = `{{researchReportFAQsInstForm|crispy}}`
		var commonFAQJSForm = `{{commonFAQInstForm|crispy}}`
		if(forData=='researchReportFAQs') {
			var actionType = event.getAttribute('newOrUpdate')
			document.getElementById('id_submitForm').setAttribute('action', "{% url 'stockApp:researchReportFAQsUrl' %}")
			document.getElementById('modalBody').innerHTML = `${researchReportFAQsJSForm}`
			if(actionType == 'New'){
				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='new'>`
			}
			else{
				var dataID = event.getAttribute('dataID')
				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='update'>`
				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="dataID" value='${dataID}'>`
				document.getElementById('id_questions').value = event.getAttribute('questions');
				document.getElementById('id_answers').value = event.getAttribute('answers');
			}
		}


		else if (forData == 'commonFAQ'){
			var actionType = event.getAttribute('newOrUpdate')
			document.getElementById('id_submitForm').setAttribute('action', "{% url 'stockApp:commonFAQUrl' %}")
			document.getElementById('modalBody').innerHTML = `${commonFAQJSForm}`
			if(actionType == 'New'){

				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='new'>`
			}
			else{
				var dataID = event.getAttribute('dataID')
				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="submitType" value='update'>`
				document.getElementById('modalBody').innerHTML +=`<input type="hidden" name="dataID" value='${dataID}'>`
				document.getElementById('id_questions').value = event.getAttribute('questions');
				document.getElementById('id_answers').value = event.getAttribute('answers');
			}
		}
		else if (forData == 'deleteFK'){
			var actionModel = event.getAttribute('model')
			var formDiv = document.getElementById('id_FKDelete')
			var dataID = event.getAttribute('dataID')
			var html = `{% csrf_token %}<input type="hidden" id="id_deleteDataID" name="deleteDataID" value=""><input type="hidden" id="id_deleteFlag" name="deleteFlag" value=""><input type="hidden" id="id_redirectTo" name="redirectTo" value="{{ request.get_full_path }}"><p class="text-center">Are you sure to delete the clicked data.</p><div class="form-group d-grid mt-2"> <button class="btn btn-danger">Sure! Delete</button> </div>`
			formDiv.innerHTML = html;
			formDiv.setAttribute('action', '{% url "deleteFKdataUrl" %}')
			document.getElementById('id_deleteDataID').value = dataID
			document.getElementById('id_deleteFlag').value = actionModel
			$('#id_FKDeleteModal').modal('show');
			return false;
		}

		else{
			document.getElementById('modalBody').innerHTML = 'Error'
		}
		$('#snapshotModal').modal('show');
		$('.textarea').summernote();
	}
</script>
{% endif %}
{% endblock %}