{% load humanize %}
{% load static %}
{% load stockTags %}
<div class="row my-3">
	<div class="col-md-12 my-2" id="id_cashAndFlow">
		<div><h2 class="text-indigo second-heading py-3">{% if stock.seoTitle %}{{stock.seoTitle}}{% endif %} Cash Flow</h2></div>
		{% if financialStatementsFrCashFlowInst or request.user.is_staff %}
		<div class="card p-2 shadow">
			{% if request.user.is_staff %}<ul class="list-inline d-flex justify-content-end">
				<li class="list-inline-item"><a href="javascript:void(0);" newOrUpdate="New" purpose="financialStatementsFrCashFlow" onclick="addEditData(this);"><span class="badge rounded-pill bg-indigo lead-4">Edit/Add Data</span></a></li>
			</ul>
			{% endif %}
			{% for item in financialStatementsFrCashFlowInst %}
			<ul class="{% if item.statementIcon == 1 %}upListIcon{% elif item.statementIcon == 3 %}downListIcon{% else %}stableListIcon{% endif %}">
				<li class="my-3">
					<p class="second-heading">{% if item.title %}{{item.title}}{% endif %} {% if request.user.is_staff %}<a href="javascript:void(0);" newOrUpdate="update" purpose="financialStatementsFrCashFlow" statementIcon="{{item.statementIcon}}" title="{{item.title}}" description="{{item.description}}" dataID="{{item.id}}" onclick="addEditData(this);"><i class="fas small fa-edit text-info"></i></a> <a href="javascript:void(0);" dataID="{{item.id}}" model="financialStatementsFrCashFlow" purpose="deleteFK" onclick="addEditData(this);"><i class="fas small fa-trash text-danger ms-1"></i></a>{% endif %}</p>
					<div class="font-content text-muted text-justify">{% if item.description %}<p>{{item.description|safe}}</p>{% endif %}</div>
				</li>
			</ul>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% if request.user.is_staff %}
<div class="row">
	<ul class="list-inline text-end">
		<li class="list-inline-item">stockProfileName(for excel upload) - <b>{{stock.id}}</b></li>
		<li class="list-inline-item"><a href="javascript:void(0);" newOrUpdate="New" purpose="stockCashFlow" onclick="addEditData(this);"><span class="badge rounded-pill bg-indigo lead-4">Edit/Add Data</span></a></li>
		<li class="list-inline-item"><a href="{% if stockCashFlowInst %}{% url 'exportDataUrl' %}?stockID={{stock.id}}&requestFor=stockCashFlow{% else %}{% static 'stocks/assets/Sample-CashFlow.csv' %}{% endif %}" ><span class="badge rounded-pill bg-indigo lead-4">Download Data/Sample</span></a></li>
		<li class="list-inline-item"><a href="javascript:void(0);" newOrUpdate="New" model="stockCashFlow" purpose="uploadFile" onclick="addEditData(this);"><span class="badge rounded-pill bg-indigo lead-4">Upload Data</span></a></li>
		<li class="list-inline-item"><a href="javascript:void(0);" newOrUpdate="New" purpose="stockCashFlowTTM" onclick="addEditData(this);"><span class="badge rounded-pill bg-indigo lead-4">Edit/Add TTM Data</span></a></li>
	</ul>
</div>
{% endif %}
{% if stockCashFlowInst or request.user.is_staff or cashFlowTTMInst %}

<div class="row my-3 shadow" style="">
	<div class="col-6 col-md-4 pe-0 financialCols">
		<div class="p-2 financial-t-head text-white position-relative" style="border-radius: 0.5rem 0 0 0.5rem;">
			<h3 class="second-heading position-absolute top-50 translate-middle" style="left: 30%!important;">Financial Year </h3><span class="position-absolute top-50 translate-middle" style="left: 90%!important;"><img src="{% static 'stocks/imgs/icons/polygon-11@1x.svg' %}" class="float-end" id="showHidden" onclick="showHidden(this);"><img src="{% static 'stocks/imgs/icons/polygon-11-1@1x.svg' %}" class="d-none float-end" id="hideShown" onclick="hideShown(this);"></span>
		</div>

		<div class="w-100 p-2 financialBorder-bottom financialBorder-right d-none hiddenItems bg-negative" style="min-height: 4rem !important">
			<span class="third-heading">Cash from Operating Activities</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right d-none hiddenItems bg-negative" style="min-height: 4rem !important">
			<i class="fas fa-plus financialCF financialPosition visibleOnExpand border-dotted d-none"></i>
			<span class="third-heading">Cash from Investing Activities</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right d-none hiddenItems bg-negative" style="min-height: 4rem !important">
			<i class="fas fa-plus financialCF financialPosition visibleOnExpand border-dotted d-none"></i>
			<span class="third-heading">Cash from Financing Activities</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right">
			<i class="fas fa-equals financialCF financialPosition visibleOnExpand border-dotted d-none"></i>
			<span class="third-heading">Net Change in Cash</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right">
			<span class="third-heading">Change in Working Capital</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right">
			<span class="third-heading">Capital Expenditures</span>
		</div>
		<div class="w-100 p-2 financialBorder-bottom financialBorder-right">
			<span class="third-heading">Free Cash Flow</span>
		</div>
	</div>
	<div class="col-md-8 col-6 ps-0">
		<div class="scrollX d-flex" id="id_leftscroll">
			
			{% for item in stockCashFlowInst %}
			<div class="custCol col p-0 financialCols text-center" {% if forloop.last and not cashFlowTTMInst %}id="fy"{% endif %}>
				<div class="p-2 financial-t-head text-white position-relative" {% if forloop.last and not cashFlowTTMInst%} style="border-radius: 0 0.5rem 0.5rem 0;"{% endif %}>
					<span class="second-heading position-absolute top-50 start-50 translate-middle">FY {% if item.year %}{{item.year}}{% else %}-{% endif %}</span>
					{% if request.user.is_staff %}
					<a href="javascript:void(0);" dataID="{{item.id}}" model="stockCashFlow" purpose="deleteFK" onclick="addEditData(this);"><i class="fas small fa-trash text-danger ms-1"></i></a>
					{% endif %}
				</div>			
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if item.cashFromOperatingActivities %}{{item.cashFromOperatingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if item.cashFromInvestingActivities %}{{item.cashFromInvestingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if item.cashFromFinancingActivities %}{{item.cashFromFinancingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if item.netChangeInCash %}{{item.netChangeInCash|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if item.changesInWorkingCapital %}{{item.changesInWorkingCapital|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if item.capitalExpenditures %}{{item.capitalExpenditures|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if item.freeCashFlow %}{{item.freeCashFlow|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
			</div>
			{% endfor %}

			{% if cashFlowTTMInst %}
			{% if forloop.last or not cashFlowTTMInst %}{% endif %}
			<div class="custCol  p-0 financialCols text-center" id="fy">
				<div class="p-2 financial-t-head text-white position-relative" style="border-radius: 0 0.5rem 0.5rem 0;">
					<span class="second-heading position-absolute top-50 start-50 translate-middle">FY 2023*</span>
					{% if request.user.is_staff %}
					<a href="javascript:void(0);" dataID="{{cashFlowTTMInst.id}}" model="stockCashFlowTTM" purpose="deleteFK" onclick="addEditData(this);"><i class="fas small fa-trash text-danger ms-1"></i></a>
					{% endif %}
				</div>			
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if cashFlowTTMInst.cashFromOperatingActivities %}{{cashFlowTTMInst.cashFromOperatingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if cashFlowTTMInst.cashFromInvestingActivities %}{{cashFlowTTMInst.cashFromInvestingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom d-none hiddenItems bg-negative" style="min-height: 4rem !important">
					<p class="third-heading">{% if cashFlowTTMInst.cashFromFinancingActivities %}{{cashFlowTTMInst.cashFromFinancingActivities|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if cashFlowTTMInst.netChangeInCash %}{{cashFlowTTMInst.netChangeInCash|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if cashFlowTTMInst.changesInWorkingCapital %}{{cashFlowTTMInst.changesInWorkingCapital|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if cashFlowTTMInst.capitalExpenditures %}{{cashFlowTTMInst.capitalExpenditures|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
				<div class="w-100 p-2 financialBorder-bottom">
					<p class="third-heading">{% if cashFlowTTMInst.freeCashFlow %}{{cashFlowTTMInst.freeCashFlow|floatformat:"2"|ownIntCommaWithoutRupees}}{% else %}-{% endif %}</p>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% if stock.stockProfileNameFFU.financialNumbers or request.user.is_staff %}
<p class="text-end font-content-small">All numbers in ₹ {{stock.stockProfileNameFFU.financialNumbers}}</p>
{% endif %}
<p class="text-end font-content-small text-lowercase">* denotes current year's {% if cashFlowTTMInst.TTMDataFor %}{{cashFlowTTMInst.TTMDataFor}}{% endif %} data</p>
{% comment %}
{% if request.user.is_staff %}
<div class="row my-3">
	<div class="col-md-12 p-2">
		<div class="card shadow p-3">
			<form class="row" action="{% url 'stockApp:stockAdminDM' %}?requestFrom=financialCashFlow" method="POST" enctype="multipart/form-data" id="id_adminForm">
				{% csrf_token %}
				<input type="hidden" name="stockProfile" value="{{stock.id}}">
				<input type="hidden" name="submitType" value="{% if stockAdmInst %}update{% else %}new{% endif %}">
				<input type="hidden" name="requestFrom" value="{{ request.get_full_path }}">

				<div class="form-group col-md-6 mb-2">
					<label>Meta Title</label>
					<input type="text" name="metaTitleFinancialCashFlow" class="form-control form-control-lg shadow-sm" value="{% if stockAdmInst.metaTitleFinancialCashFlow %}{{stockAdmInst.metaTitleFinancialCashFlow}}{% endif %}">
				</div>
				<div class="form-group col-md-6 mb-2">
					<label>Meta Description</label>
					<textarea class="form-control form-control-lg shadow-sm" name="metaDescriptionFinancialCashFlow">{% if stockAdmInst.metaDescriptionFinancialCashFlow %}{{stockAdmInst.metaDescriptionFinancialCashFlow}}{% endif %}</textarea>
				</div>
				<div class="form-group col-md-6 mb-2">
					<label>Meta Keywords</label>
					<textarea class="form-control form-control-lg shadow-sm" name="metaKeywordsFinancialCashFlow">{% if stockAdmInst.metaKeywordsFinancialCashFlow %}{{stockAdmInst.metaKeywordsFinancialCashFlow}}{% endif %}</textarea>
				</div>
				<div class="form-group col-md-6 mb-2">
					<label>Tags</label>
					<input type="text" name="tagsFinancialCashFlow" class="form-control form-control-lg shadow-sm" value="{% if stockAdmInst.tagsFinancialCashFlow %}{{stockAdmInst.tagsFinancialCashFlow}}{% endif %}">
				</div>
				<div class="col-md-12 text-center mt-3">
					<button class="badge badge-indigo text-white rounded-pill py-1 px-3 me-4">Save</button>
					<button class="badge btn-outline-indigo rounded-pill py-1 px-3">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
			
	$(document).ready(() => {
    
	    $("#id_leftscroll").scrollLeft(900);
	});
</script>
{% endif %}
{% endcomment %}